@mixin sans-serif {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -chrome-box-sizing: border-box;
}

$white: #FFF;
$offwhite: #F7F5F1;
$lightgrey: #F2F4F6;
$medgrey: #6D6D6D;
$darkgrey: #2B2B2B;
$black: #111;

/* General */

* {
  margin: 0;
  padding: 0;
  @include border-box;
}

body {
  font-size: 1em;
  color: $darkgrey;
  @include sans-serif;
}

h2, h3, p {
  margin-bottom: 1.125em;
}

p {
  line-height: 1.5em;
}

ul {
  margin-left: 1.5em;
}

.clear {
  clear: both;
}

header, section {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
}

header {
  background-color: $lightgrey;
  height: 60px;
  line-height: 56px;
  vertical-align: middle;
  padding-bottom: 4px;

  h1 {
    display: block;
    width: 50%;
    @media (max-width: 500px) {
      text-align: center;
      width: 100%;
    }

    a {
      font-size: 24px;
      display: block;
      width: 100%;
      float: left;
      border-top: 4px solid #DFDFDF;
      color: $darkgrey;
      text-decoration: none;
      padding: 0 1em;
    }
  }

  nav {
    float: right;
    width: 50%;
    @media (max-width: 500px) {
      width: 100%;
    }

    a {
      font-size: 18px;
      display: block;
      float: left;
      width: 33%;
      text-align: center;
      color: $darkgrey;
      text-decoration: none;
      border-top: 4px solid;

      @mixin menu-item($theta) {
        color: hsl($theta, 40%, 40%);
        border-top: 4px solid hsl($theta, 40%, 70%);
        &:hover, &:focus {
          color: hsl($theta, 100%, 100%);
          box-shadow: inset 0 56px hsl($theta, 40%, 70%);
          -webkit-transition: all 100ms ease-in-out;
          -moz-transition: all 100ms ease-in-out;
          -ms-transition: all 100ms ease-in-out;
          -o-transition: all 100ms ease-in-out;
          transition: all 100ms ease-in-out;
        }
      }

      &.blog  { @include menu-item(100); }
      &.code  { @include menu-item(150); }
      &.talks { @include menu-item(200); }
    }
  }
}

section {
  padding:3em 1em;
  width: 90%;
  max-width: 960px;
  @media (max-width: 500px) {
    padding: 5em 1em;
  }

  a {
    color: #94BDD1;
    text-decoration: none;
    border-bottom: 1px dotted;
    &:hover {
      color: #94D1B3;
    }
  }

  .post, .talk {
    border-bottom: 1px solid #efefef;
    margin-bottom: 1em;

    .masthead {
      display: block;
      line-height: 32px;
      vertical-align: bottom;
      border-bottom: 1px solid #efefef;
      padding-bottom: 4px;
      margin-bottom: 1em;

      h2 {
        font-size: 22px;
        float: left;
        margin-bottom: 0;
        max-width: 500px;
        a {
          color: inherit;
          border: none;
          &:hover {
            color: #666677;
          }
        }
      }

      span {
        float: right;
        font-size: 14px;
      }
    }
  }

  ul.previous-posts,
  ul.talks {
    display: block;
    width: 100%;
    margin-left: 0;
    li {
      display: block;
      float: left;
      width: 48%;
      margin-right:1em;
      border-bottom: 1px solid #efefef;
      @media (max-width: 1000px) {
        width: 45%;
      }
      @media (max-width: 725px) {
        width: 100%;
      }

      h3 {
        margin-bottom: 8px;
        display: block;
      }
      a {
        padding-top: 1em;
        padding-bottom: 1em;
        display: block;
        color: inherit;
        border: none;
        &:hover {
          color: #666677;
          background-color: #efefef;
        }
      }
      span.date {
        width: 100%;
        display: block;
      }

      span.categories {
        width: 100%;
        display: block;
      }
    }
  }

  .pagination {
    text-align:center;
    margin-bottom: 3em;
    font-size: 24px;
    a {
      display: inline-block;
      padding-top: 2em;
    }
    #prev {
      margin-right: 2em;
    }
  }

  .archive {
    text-align:center;
    margin: auto;
    padding: 1em;
    margin-top: 2em;
    font-size: 24px;
  }


  .code {
    ul {
      margin-left: 0;
    }

    li {
      display: block;
    }
    .masthead {
      display: block;
      height: 24px;
      h4 {
        display: block;
        float: left;
        span {
          color: #999;
          &:before {
            content: "\2014\0020";
          }
        }
      }
      ul.tags {
        display: block;
        float: right;
        margin-bottom: 8px;
        li {
          float: left;
          display: inline;
          list-style: none;
          margin-left: 8px;
          margin-top: -6px;
          padding: 4px 8px;
          color:#fff;

          &.ruby { background-color: #EB1922; }
          &.diversity { background-color: #6EA1A2;}
          &.rails { background-color: #B02B2C; }
          &.javascript { background-color:#F1DA4E;  }
        }
      }
    }
    p {
      clear: both;
    }
    & > ul > li {
      border-bottom: 1px solid #efefef;
      margin-bottom: 1em;
    }
  }

  img {
    max-width: 100%;
  }
}
