<div class="post">
  <div class="masthead">
    <h2><a href="/blog/<%= post.name %>"><%= post.title %></a></h2>
    <span><%= post.formatted_date %></span>
    <div class="clear"></div>
  </div>
  <% if defined? abbreviated %>
    <p>
    <%= post.truncated(post.content) %>
    </p>
    <p>
    <a href="/blog/<%= post.name %>">Read more...</a>
    </p>
  <% else %>
    <p>
    <%= glorify post.content %>
    </p>
  <% end %>
</div>
