<div class="talk">
  <div class="masthead">
    <h2><a href="/talks/<%= talk.name %>"><%= talk.title %></a></h2>
    <span><%= talk.formatted_date %></span>
    <div class="clear"></div>
  </div>
  <p>
  <% if defined? abbreviated %>
    <p>
    <%= talk.truncated(talk.content) %>
    </p>
    <p>
    <a href="/talks/<%= talk.name %>">Read more...</a>
    </p>
  <% else %>
    <p>
    <%= glorify talk.content %>
    </p>
  <% end %>
</div>
