<ul class="previous-posts">
<% @posts.each do |post| %>
  <li>
  <a href="/blog/<%= post.name %>">
    <h3><%= post.title %></h3>
    <span><%= post.formatted_date %></span>
  </a>
  </li>
<% end %>
</ul>

<div class="pagination">
  <% unless @page == 0 %>
    <span id="prev">
      <a href="/archive?page=<%= @page - 1 %>" title="prev" alt="prev"> &laquo; Previous</a>
    </span>
  <% end %>
  <% unless @page == @max_page %>
    <span id="next">
      <a href="/archive?page=<%= @page + 1 %>" title="next" alt="next">Next &raquo;</a>
    </span>
  <% end %>
</div>
