<script>
  (function() {
    var cx = '015937431111214666650:t8by0ko_bv4';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
<%= erb :_post, locals: {post: @posts.first, abbreviated: true } %>
<ul class="previous-posts">
  <% @posts.drop(1).each_with_index do |post, index| %>
    <li>
    <a href="/blog/<%= post.name %>">
      <h3><%= post.title %></h3>
      <span class="date"><%= post.formatted_date %></span>
      <span class="categories">
        <%= post.categories.join(", ") %>
      </span>
    </a>
    </li>
    <% if index.odd? %>
      <div style="clear:both;"></div>
    <% end %>
  <% end %>
</ul>
<div class="archive">
  <a href="/archive">See all posts in the archive</a>
</div>
