<div class="code">
  <h3>Code</h3>
  <ul>
    <% CONFIG["code"].each do |prj| %>
      <li>
      <div class="masthead">
        <h4><a href="<%= prj["link"] %>"><%= prj["title"] %></a></p></h4>
          <ul class="tags">
            <% prj["tags"].each do |tag| %>
              <li class="<%= tag %>"><%= tag %></li>
            <% end %>
          </ul>
      </div>
      <p>
      <%= prj["description"] %>
      </p>
      </li>
    <% end %>
  </ul>

  <h3>Open Source Contributions</h3>
  <ul>
    <% CONFIG["oss"].each do |oss| %>
      <li>
      <div class="masthead">
        <h4><a href="<%= oss["link"] %>"><%= oss["title"] %></a></p></h4>
        <ul class="tags">
          <% oss["tags"].each do |tag| %>
            <li class="<%= tag %>"><%= tag %></li>
          <% end %>
        </ul>
      </div>
      <p>
      <%= oss["description"] %>
      </p>
      </li>
    <% end %>
  </ul>
</div>
