<p>Hi, I'm Meagan Waller! I'm a software developer based out of Clearwater, FL. I build applications with Ruby, Rails, Clojure, Objective-C, and more.</p>

<p>I'm very passionate about creating a more empathetic technology infrastructure. I do a lot of volunteering with programs to guide, mentor, and help women in technology: <a href="http://girldevelopit.com" target="_blank">Girl Develop It</a> and <a href="http://girlswhocode.com" target="_blank">Girls Who Code</a> are two programs in particular I really have enjoyed working with.</p>

<p>I like to <a href="/code">contribute to open source software</a>, and have started <a href="/talks">speaking</a> quite a bit. I also <a href="/blog">blog pretty regularly</a>.</p>

<p>If you'd like to contact me you can do so on <a href="http://twitter.com/meaganewaller" target="_blank">Twitter</a>, where I tweet quite a bit, or send me an <a href="mailto:meaganewaller@gmail.com">e-mail</a>.</p>

