<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if @title %>
        <%= @title %> &middot; Meagan Waller
      <% else %>
        Meagan Waller
      <% end %>
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/github.css" type="text/css">
    <script src="/javascript/highlight.js"></script>
    <link rel="alternate" href="/rss.xml" type="application/atom+xml" title="Meagan Waller">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)
        },i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42947325-2', 'meaganwaller.com');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <header>
      <h1><a href="/">meagan waller</a></h1>
    <nav>
    <a href="/blog" class="blog">blog</a>
    <a href="/code" class="code">code</a>
    <a href="/talks" class="talks">talks</a>
    </nav>
    </header>
    <section>
    <%= yield %>
    </section>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
