<div class="page-title">
  <h3>Talks</h3>
</div>
<%= erb :_talk, locals: {talk: @talks.first, abbreviated: true } %>
<ul class="talks">
  <% @talks.drop(1).each_with_index do |talk, index| %>
    <li>
    <a href="/talks/<%= talk.name %>"><h3><%= talk.title %></h3>
      <span><%= talk.formatted_date %></span></a>
    </li>
    <% if index.odd? %>
      <div style="clear:both;"></div>
    <% end %>
  <% end %>
</ul>
